.container {
  display: flex;
  align-self: flex-start;
  flex-direction: column;

  max-width: 200px;

  gap: 10px;
}

.inputFile {
  position: absolute;
  z-index: -1;

  overflow: hidden;

  width: 0;
  height: 0;

  opacity: 0;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 32px;

  color: #fff;
  border: none;
  border-radius: 3px;
  background: #464d58;

  font-size: 12px;
}

.button:hover {
  cursor: pointer;
}

.downloadHint {
  color: rgb(245 245 245 / 0.45);

  font-size: 11px;
}
