.container {
  display: flex;
  flex-direction: column;

  width: 100%;
  padding: 30px;

  color: #e4e7e8;
  border-radius: 10px;
  gap: 40px;
}

.avatar {
  display: flex;
  align-items: flex-end;
}

.about {
  display: flex;
  flex-direction: column;
}

h2 {
  font-weight: normal;
}

.containerImg {
  margin-right: 40px;
}

.avatarTitle {
  display: flex;
  justify-content: flex-start;

  margin-bottom: 20px;
  padding-bottom: 10px;

  letter-spacing: 1px;

  border-bottom: 2px solid #989898;

  font-size: 24px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}

.buttonCancel {
  width: 200px;
  height: 34px;

  color: #dfe3e6;
  border: none;
  border-radius: 3px;
  background: #3d4450;
}

.buttonAccept {
  width: 200px;
  height: 34px;
  margin-left: 10px;

  color: #fff;
  border: none;
  border-radius: 6px;
  background: #2533fd;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputName {
  color: #e4e7e8;
  border: 2px solid rgb(82 82 86 / 0.53);
  border-radius: 6px;
  background-color: transparent;
}

.inputAbout {
  min-height: 150px;
  padding: 10px;

  resize: none;

  color: #e4e7e8;

  border: 2px solid rgb(82 82 86 / 0.48);
  border-radius: 6px;
  background-color: transparent;

  font-family: inherit;
  font-size: 1rem;
}

.imgDescription {
  font-size: 9px;
}

.img128 {
  width: 128px;
  height: 128px;
}

.img64 {
  width: 64px;
  height: 64px;
}

.img32 {
  width: 32px;
  height: 32px;
}

.formSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
