.container {
  width: 100%;
  height: 100vh;

  background: var(--blueBackground);
}

.buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  height: 100vh;
}

.login {
  width: 30rem;
  margin: 0.5rem;
  padding: 0.5rem;

  color: #fff;
  border: 2px solid var(--blueBorder);
  background-color: var(--blueInputAndButton);

  font-weight: 400;
}

.registration {
  width: 30rem;
  margin: 0.5rem;
  padding: 0.5rem;

  color: #fff;
  border: 2px solid var(--blueBorder);
  background-color: var(--blueInputAndButton);

  font-weight: 100;
}
