@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --invalidColor: #de1b1b;
  --paddingMedium: 20px;
  --paddingBig: 30px;
  --fzBig: 20px;
  --fzBigger: 30px;
  --inactiveIconColor: rgb(255 255 255 / 0.5);
}

.blueTheme {
  --inputAndButton: #314482;
  --icon: #0d1f49;
  --border: #374d8f;

  color: var(--color);
  background: linear-gradient(45deg, #16243d, #2d2b78, #2b3a47);
}

.darkTheme {
  --inputAndButton: #1c1c1c;
  --icon: #111;
  --border: #111;
  --color: #fff;

  color: var(--color);
  background: #202124;
}

body {
  overflow: hidden;

  font-family: Inter, sans-serif;
}

a {
  text-decoration: none;

  color: white;
}

a:hover {
  filter: brightness(0.85);
}

a:active {
  filter: brightness(0.7);
}
