@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --blueInputAndButton: #314482;
  --blueIcon: #0d1f49;
  --blueBackground: linear-gradient(45deg, #16243d, #2d2b78, #2b3a47);
  --blueBorder: #31478e;
  --invalidColor: #c71212;
}

body {
  font-family: Inter, sans-serif;
}
