.container {
  display: flex;
  align-items: center;

  height: 200px;
  padding-left: 120px;
}

.inputfile {
  position: absolute;
  z-index: -1;

  overflow: hidden;

  width: 0.1px;
  height: 0.1px;

  opacity: 0;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 217px;
  height: 32px;

  color: #fff;
  border: none;
  border-radius: 3px;
  background: #464d58;

  font-size: 14px;
}

.button:hover {
  cursor: pointer;
  transition: 1s;

  border: 1px solid black;
  background: #2b3a47;

  font-size: 14px;
}
